#cityCards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.card-title {
  height: 50px;
}

.accordion {
  width: 75vw;
  flex-direction: column;
}

.accordion-body {
  display: flex;
  flex-direction: row;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}