.card-text {
  font-size: 12px;
  height: 100px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.card-text::-webkit-scrollbar { width: 0 !important }

#movies .card {
  margin-bottom: 5px;
  height: 500px;
  width: 288px;
}

#movies .card .card-img-bottom {
  max-width: 250px;
  max-height: 300px;
  object-fit: contain;
}